# {{ansible_managed|comment}}

*       soft    fsize   unlimited
*       hard    fsize   unlimited
*       soft    cpu     unlimited
*       hard    cpu     unlimited
*       soft    as      unlimited
*       hard    as      unlimited
*       soft    nofile  65536
*       hard    nofile  65536
*       soft    nproc   4096
*       hard    nproc   4096
*       soft    memlock unlimited
*       hard    memlock unlimited
root       soft    fsize   unlimited
root       hard    fsize   unlimited
root       soft    cpu     unlimited
root       hard    cpu     unlimited
root       soft    as      unlimited
root       hard    as      unlimited
root       soft    nofile  65536
root       hard    nofile  65536
root       soft    nproc   4096
root       hard    nproc   4096
root       soft    memlock      unlimited
root       hard    memlock      unlimited
